<ion-modal-view>
	<ion-content>
      		<ion-slide-box delegate-handle="project-slide" style="width:100%;" pager-click="pagerClick(index)">
      			<ion-slide>
      				<div class="row">
      					<div class="col col-66"  style="text-align:center">
      						<img src="img/ecshop.gif"/>
      					</div>
      					<div class="col col-33">
      						<h3 style="border-bottom:dotted 1px #666">Native 商城的H5入口</h3>
      						<p style="margin-top:50px"><strong>项目背景：</strong>原先公司的商城App是完全基于Native开发，无法满足活动多，变动大，风格迥异的现代商城风格。固此受命开发Html5的移动商城版，经过1个月设计－开发－测试，该项目已经移植到商城App</p>
      					</div>
      				</div>
      			</ion-slide>
      			<ion-slide>
      				<div class="row">
      					<div class="col col-66"  style="text-align:center">
      						<img src="img/ec.gif" />
      					</div>
      					<div class="col col-33">
      						<h3 style="border-bottom:dotted 1px #666">国产开源商城平台ECshop 移动端重构</h3>
      						<p style="margin-top:50px"><strong>项目背景：</strong>公司很多客户需要搭建自己的微信商城，考虑到ECSHOP在国内这么多年的行业背景，以及整套的商城后台管理功能，受命机遇Ecshop开发微信商城，目前正在测试阶段，主要功能已经完成</p>
      					</div>
      				</div>
      			</ion-slide>
      			<ion-slide>
      				<div class="row">
      					<div class="col col-66"  style="text-align:center">
      						<img src="img/1.png" style="width:100%;height:auto"/>
      					</div>
      					<div class="col col-33">
      						<h3 style="border-bottom:dotted 1px #666">标准化商品管理后台</h3>
      						<p style="margin-top:50px"><strong>项目背景：</strong>商城商品日益增多，光快消品的Sku就达到了24w件，受命开发一套自己的标准库商品，图片统一，描述统一</p>
      					</div>
      				</div>
      			</ion-slide>
      			<ion-slide>
      				<div class="row">
      					<div class="col col-66"  style="text-align:center">
      						<img src="img/4.png" style="width:100%;height:auto"/>
      					</div>
      					<div class="col col-33">
      						<h3 style="border-bottom:dotted 1px #666">基于LBS广告投放系统</h3>
      						<p style="margin-top:50px"><strong>项目背景：</strong>基于LBS可以精准的推送活动、促销给特定地域的用户，达到厂商、电商的活动要求，并且能够形成聚合数据</p>
      					</div>
      				</div>
      			</ion-slide>
      		</ion-slide-box>
      	</div>
      </div>
    </ion-content>
</ion-modal-view>